.cards__block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 21px 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width:768px){
    .cards__block{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:425px){
    .cards__block{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}