.form__input{
  color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  height: 27px;
  border: 0;
  border-bottom: 2px solid #CCCCCC;
  background-color: #000;
  padding-bottom: 13px;
  outline: none;
}